main {

  width: 80rem;
  margin: 5rem auto;

}

h1 {

  font-size: 5rem;
  font-weight: bold;
  text-align: center;

}

.boolin {

  margin-top: 10rem;
  width: 100%;
  height: 40rem;
  background-image: url("../src/boolin.png");
  background-position: center;
  background-clip: content-box;


}
